
<div class="splash-container">
  <div class="splash">
    <h1 class="splash-head">My Super Awesome Login Page</h1>

    <div class="pure-form pure-form-aligned">
      
    <%= form_tag '/login' do %>
      <fieldset>
        <div class="pure-control-group">
          <label class="label" for="name">Email</label>
          <%= text_field_tag :email %>
        </div>

        <div class="pure-control-group">
          <label class="label" for="password">Password</label>
          <%= password_field_tag :password %>
        </div>

        <div class="pure-controls">
          <%= submit_tag "Submit", class:"pure-button pure-input-1-4" %>
        </div>
      </fieldset>
    <% end %>

  </div>
  </div>
</div>
